.linkpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h1{
  color: #DD1F1E;
  font-family: DynaPuff;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.title p{
  color: #000;
  font-family: "Titillium Web";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal; 
  margin: 0;
  justify-self: flex-end;
}

.buttons{
  margin-top:77px ;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 53px;

}

.buttons button{
  border-radius: 7px;
  background: rgba(186, 4, 3, 0.77);
  border: none;
  height: 50px;
  width: 188px;
  color: #FFF;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.hlogo{
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 50px;
  margin-bottom:30px ;
}

.squid{
  margin-bottom: 86px;
}